# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Coverage
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Node
frontend/node_modules/
frontend/frontend/node_modules/

# Next.js
frontend/.next/
frontend/frontend/.next/

# Env
.env
.env.*

# Logs
*.log

